<?xml version="1.0" ?>
<model>
    <name>auv_demo</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description>Demo model of an auv with 8 thrusters. Hull link's mass = mass(hull+frame). </description>
</model>
